#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#include "winres.h"
#include "verrsrc.h"
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#include ""winres.h""\r\n"
    "#include ""verrsrc.h""\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "1 TYPELIB ""PivoxActiveX.tlb""\r\n"
    "\0"
END
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Pivox"
            VALUE "FileDescription", "Pivox ActiveX Control"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "PivoxActiveX.dll"
            VALUE "OriginalFilename", "PivoxActiveX.dll"
            VALUE "ProductName", "Pivox"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDR_PIVOXACTIVEX    REGISTRY    "PivoxActiveX.rgs"
IDR_PIVOXCONTROL    REGISTRY    "PivoxControl.rgs"

STRINGTABLE
BEGIN
    IDS_PROJNAME    "PivoxActiveX"
END

#ifndef APSTUDIO_INVOKED
1 TYPELIB "PivoxActiveX.tlb"
#endif
